{% extends 'base.html.twig' %}

{% block title %}Templates{% endblock %}

{% block icon %}
    <i class="far fa-file-code"></i>
{% endblock %}

{% block body %}
    <table class="table templates-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for template in templates %}
            <tr>
                <td>{{ template.id }}</td>
                <td>{{ template.text }}</td>
                <td>
                    <a href="{{ path('template_edit', {'id': template.id}) }}">edit</a>
                    <a href="{{ path('notification_create', {'template': template.id }) }}">use</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('template_new') }}">Create new</a>
{% endblock %}
