{% extends 'base.html.twig' %}

{% block title %}Templates{% endblock %}

{% block icon %}
    <i class="far fa-file-code"></i>
{% endblock %}

{% block newbutton %}
    <a href="{{ path('template_new') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">New
        template</a>
{% endblock %}

{% block body %}
    <table class="table templates-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Text</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for template in templates %}
            <tr>
                <td><a href="{{ path('template_edit', {'id': template.id}) }}">{{ template.name }}</a></td>
                <td class="template-text">{{ template.text|truncate(35, true) }}</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="{{ path('notification_create', {'template': template.id }) }}" role="button">Post</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
