{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block body %}

    <div class="row top-row">
        {# List of active notifications #}
        <div class="pane-holder col-md-12">
            <div class="pane active-list-pane">
                {{ include('home/active-list.html.twig', {'notes': notes}) }}
            </div>
        </div>
    </div>


    <div class="row row-bottom">
        <div class="pane-holder col-md-6">

            {# Calendar view pane #}
            <div class="pane calendar-pane">
                {{ include('home/calendar.html.twig') }}
            </div>
        </div>
        <div class="pane-holder col-md-6">

            {# System status pane #}
            <div class="pane status-pane">
                <h2>System status</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Application</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for monitor in monitors %}
                        <tr class="{{ monitor.status_code }}">
                            <td>{{ monitor.name }}</td>
                            <td>{{ monitor.status_text }}</td>
                            <td>{% if monitor.status_code == 'up' %}
                                    <i class="fas fa-chevron-circle-up"></i>
                                {% elseif monitor.status_code == 'paused' %}
                                    <i class="fas fa-pause"></i>
                                {% else %}
                                    <i class="fas fa-exclamation-triangle"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
