{% if error_message %}
    <div class="status-pane-error">{{ error_message }}</div>
{% else %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Application</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for app in apps %}
            <tr class="{{ app.monitor.status_code }}">
                <td>{{ app.monitor.name }}</td>
                <td>{{ app.monitor.status_text }}</td>
                <td>{% if app.monitor.status_code == 'up' %}
                        <i class="fas fa-chevron-circle-up"></i>
                    {% elseif app.monitor.status_code == 'paused' %}
                        <i class="fas fa-pause"></i>
                    {% else %}
                        <i class="fas fa-exclamation-triangle"></i>
                    {% endif %}
                </td>
                <td>
                    {% if app.app.template %}
                        <a class="btn btn-danger btn-sm" href="{{ path('notification_create', {'template': app.app.template.id }) }}" role="button">Post</a>
                    {% endif %}
                </td>            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endif %}