<ul class="action-list">
    <li>
        {% if notification.isActive %}
            <form action="{{ path('notification_deactivate',{'id':notification.id}) }}"
                  method="POST"
                  class="deactivate-link"
            >
                <button>Deactivate</button>
                <input type="hidden" name="_method" value="PUT">
            </form>
        {% elseif notification.isPending %}
            <form action="{{ path('notification_activate',{'id':notification.id}) }}"
                  method="POST"
                  class="activate-link"
            >
                <button>Activate</button>
                <input type="hidden" name="_method" value="PUT">
            </form>
        {% else %}
            <form action="{{ path('notification_reactivate',{'id':notification.id}) }}"
                  method="POST"
                  class="reactivate-link"
            >
                <button>Reactivate</button>
                <input type="hidden" name="_method" value="PUT">
            </form>
        {% endif %}
    </li>
    {% if notification.isPending %}
        <li>
            <a href="{{ path('notification_edit', {'id':notification.id}) }}">Edit</a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('notification_copy', {'id':notification.id}) }}">Repost</a>
        </li>
    {% endif %}
    {% if notification.isPending %}
        <li>
            <form action="{{ path('notification_delete',{'id':notification.id}) }}" method="POST">
                <button>Delete</button>
                <input type="hidden" name="_method" value="PUT">
            </form>
        </li>
    {% endif %}
</ul>