{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block icon %}
    <i class="fas fa-exclamation-triangle"></i>
{% endblock %}

{% block body %}
    {{ include('notification/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('template_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datetime') }}
{% endblock %}
