{% extends 'base.html.twig' %}

{% block title %}
    Create notification
{% endblock %}

{% block body %}
    {% form_theme note_form 'bootstrap_4_layout.html.twig' %}

    {{ form_start(note_form) }}
    {{ form_widget(note_form) }}
    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(note_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datetime') }}
{% endblock %}

