{% extends 'base.html.twig' %}

{% block title %}Applications{% endblock %}

{% block icon %}
    <i class="fas fa-server"></i>
{% endblock %}

{% block newbutton %}
    <a href="{{ path('application_new') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">New
        application</a>
{% endblock %}

{% block body %}
    <table class="table applications-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Uptime_robot_code</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>{{ application.id }}</td>
                <td><a href="{{ path('application_edit', {'id': application.id}) }}">{{ application.name }}</a></td>
                <td>{{ application.uptimeRobotCode }}</td>
                <td>
                    {% if application.template %}
                        <a class="btn btn-danger btn-sm" href="{{ path('notification_create', {'template': application.template.id }) }}" role="button">Post</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
