<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body class="{% block body_class %}sub_page{% endblock %}">
{{ include('top-menu.html.twig') }}
<div class="container-fluid">
    <div class="row">
        {{ include('left-menu.html.twig') }}

        <main class="col-md-9 col-lg-10">

            {{ include('flashes.html.twig') }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

            {% if app.request.pathinfo == '/dashboard' %}
                {% block dashboard %}{% endblock %}
            {% else %}
                <div class="pane-holder col-12">
                    <div class="pane">
                        <div class="row">
                            <h2 class="page-title">{% block icon %}{% endblock %}{{ block('title') }}</h2>
                            <div class="new-button-holder">{% block newbutton %}{% endblock %}</div>
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            {% endif %}
        </main>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!--Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}
</body>
</html>
